﻿<%@ Master Language="C#" AutoEventWireup="true" CodeBehind="Site.master.cs" Inherits="Assignment2a.SiteMaster" %>

<!DOCTYPE html>

<html lang="en">
<head runat="server">
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%: Page.Title %> - My Review Website</title>

    <asp:PlaceHolder runat="server">
        <%: Scripts.Render("~/bundles/modernizr") %>
    </asp:PlaceHolder>

    <webopt:bundlereference runat="server" path="~/Content/css" />
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />

    <asp:ContentPlaceHolder ID="maincss" runat="server">
        <link rel="stylesheet" href="/css/style.css" />
    </asp:ContentPlaceHolder>
</head>
<body>
    <form runat="server">
        <asp:ScriptManager runat="server">
            <Scripts>
                <%--To learn more about bundling scripts in ScriptManager see https://go.microsoft.com/fwlink/?LinkID=301884 --%>
                <%--Framework Scripts--%>
                <asp:ScriptReference Name="MsAjaxBundle" />
                <asp:ScriptReference Name="jquery" />
                <asp:ScriptReference Name="bootstrap" />
                <asp:ScriptReference Name="WebForms.js" Assembly="System.Web" Path="~/Scripts/WebForms/WebForms.js" />
                <asp:ScriptReference Name="WebUIValidation.js" Assembly="System.Web" Path="~/Scripts/WebForms/WebUIValidation.js" />
                <asp:ScriptReference Name="MenuStandards.js" Assembly="System.Web" Path="~/Scripts/WebForms/MenuStandards.js" />
                <asp:ScriptReference Name="GridView.js" Assembly="System.Web" Path="~/Scripts/WebForms/GridView.js" />
                <asp:ScriptReference Name="DetailsView.js" Assembly="System.Web" Path="~/Scripts/WebForms/DetailsView.js" />
                <asp:ScriptReference Name="TreeView.js" Assembly="System.Web" Path="~/Scripts/WebForms/TreeView.js" />
                <asp:ScriptReference Name="WebParts.js" Assembly="System.Web" Path="~/Scripts/WebForms/WebParts.js" />
                <asp:ScriptReference Name="Focus.js" Assembly="System.Web" Path="~/Scripts/WebForms/Focus.js" />
                <asp:ScriptReference Name="WebFormsBundle" />
                <%--Site Scripts--%>
            </Scripts>
        </asp:ScriptManager>

        <!-- The header containing the main navigation for the website -->
        <header>
            <nav id="main-navigation">
                <div class="page-wrapper">
                    <ul>
                        <li><a runat="server" href="~/">HOME</a></li>
                        <li><a runat="server" href="~/WebApplication">WEB APPLICATION DEVELOPMENT</a></li>
                        <li><a runat="server" href="~/WebProgramming">WEB PROGRAMMING</a></li>
                        <li><a runat="server" href="~/DatabaseDevelopment">DATABASE DESIGN AND DEVELOPMENT</a></li>
                    </ul>
                </div>
            </nav>
        </header>

        <!-- This area is for the four content placeholders used by my webpages -->
        <div class="colour-container">
            <div class="page-wrapper">
                <main class="body-area-container">
                    <div id="tricky-concept" class="col-md-12 col-xm-12">
                        <asp:ContentPlaceHolder ID="TrickyConceptArea" runat="server">
                        </asp:ContentPlaceHolder>
                    </div>
                    
                    <div class="row">
                        <div id="example-code" class="col-md-6 col-xm-12">
                            <asp:ContentPlaceHolder ID="ExampleCodeArea" runat="server">
                            </asp:ContentPlaceHolder>
                        </div>

                        <div id="my-code" class="col-md-6 col-xm-12">
                            <asp:ContentPlaceHolder ID="OwnCodeArea" runat="server">
                            </asp:ContentPlaceHolder>
                        </div>
                    </div>

                    <div id="helpful-links" class="col-md-12 col-xm-12">
                        <asp:ContentPlaceHolder ID="HelpfulLinksArea" runat="server">
                        </asp:ContentPlaceHolder>
                    </div>
                </main>
            </div>
        </div>

        <!-- The footer containing information about me -->
        <footer>
            <div class="page-wrapper">
                <p>Raymond Giang - n01304390 - Assignment 2a</p>
            </div>
        </footer>
    </form>
</body>
</html>
